{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>qvBuilding list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qvBuilding in qvBuildings %}
            <tr>
                <td><a href="{{ path('building_show', { 'id': qvBuilding.id }) }}">{{ qvBuilding.id }}</a></td>
                <td>{{ qvBuilding.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('building_show', { 'id': qvBuilding.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('building_edit', { 'id': qvBuilding.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('building_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
