{% extends 'base.html.twig' %}

{% block body %}
    <h1>qvContract</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ qvContract.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ qvContract.name }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if qvContract.startdate %}{{ qvContract.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if qvContract.enddate %}{{ qvContract.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contract_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contract_edit', { 'id': qvContract.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
