{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}

	{% block body %}
		<style>
			.btn {
				display: inline-block; /* Строчно-блочный элемент */
				position: relative; /* Относительное позиционирование */
			}
			.btn:hover::after {
				content: attr(data-title); /* Выводим текст */
				position: relative; /* Абсолютное позиционирование */
				left: -70%; top: 100%; /* Положение подсказки */
				z-index: 1; /* Отображаем подсказку поверх других элементов */
				background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
				font-family: Arial, sans-serif; /* Гарнитура шрифта */
				font-size: 10px; /* Размер текста подсказки */
				padding: 3px 5px; /* Поля */
				border: 0.5px solid #333; /* Параметры рамки */
			}
		</style>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					{% block breadcrumb %}
						<div id="breadcrumbs" class="btn-group btn-breadcrumb">
							<br>
							<a class="btn btn-default" href="{{ path('main_page') }}">
								<i class="fa fa-home"></i>
								Главная
							</a>
						</div>
					{% endblock %}

	<h1 class="page-header">Управление зданиями</h1>
				<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
			</div>


			<div class="row">
				<div class="col-sm-10">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="dataTable_wrapper">
								<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
							<div class="row">
								<div class="col-sm-12">
									<table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-buidings" role="grid" aria-describedby="dataTables-example_info">
<thead>
	<tr role="row">
		<th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 20px;">
		#
		</th>
		<th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 130px;">
		Название здания
		</th>
		<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 100px;">
		Действия
		</th>
	</tr>
</thead>
<tbody>
	{% for build in qvBuildings %}
<tr class="gradeA odd" role="row">
	<td>{{ loop.index }}</td>
<td>
	<a href="{{ path('buildings_show', {'qvBuilding':build.id}) }}">
	{{ build.name }}</a>
</td>
<td>	
		<div class="btn-group">	
			<a data-title="Показать информацию" class="btn btn-circle btn-default btn-xs" href="{{ path('buildings_show', {'qvBuilding': build.id}) }}">
				<p class="fa fa-eye"></p>
			</a>
			<a data-title="Изменить или удалить" class="btn btn-circle btn-default btn-xs" href="{{ path('buildings_edit', {'qvBuilding': build.id}) }}">
				<span class="glyphicon glyphicon-edit"></span>
			</a>
        </div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<br>
<div class="text-right">
<a class="btn btn-success btn-md" href="{{ path('buildings_create')}}">
	Добавить здание
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>

{#<div class="row" style="float:center" >
	<div class="col-lg-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				Здания Бизнес-Центра
			    </div>
		<!-- /.panel-heading -->
        <div class="panel-body">
			<div class="dataTable_wrapper">
				<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
					<div class="row">
						<div class="col-sm-10">
							<div class="dataTables_length" id="dataTables-example_length">
								<label>Show 
									<select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
									<option value="10">10</option>
										<option value="25">25</option>
											<option value="50">50</option>
												<option value="100">100</option>
													</select> entries</label>
					</div>
						</div>
													

		</div>
		
		<div class="row">
			<div class="col-sm-10" align="center">
				<table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
					<thead>
						
						<tr role="row">
							<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">Название здания
							</th>
										
							<th class="text-info" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 20px;">Действия</th>
						</tr>
					</thead>  
		<tbody>                        
		 {% for qvBuildings in qvBuildings %}
            <tr>
            <td>
            	<a href="{{ path('buildings_show', {'qvBuilding': qvBuildings.id }) }}">
                	{{ qvBuildings.name }}
                </a>
            </td>
			<td>
				<div class="btn-group">
					<div class="panel-body">	
				<a data-title="Показать информацию" class="btn btn-circle btn-default btn-xs" href="{{ path('buildings_show', {'qvBuilding': qvBuildings.id}) }}">
					<p class="fa fa-eye"></p>
				</a>
		
					<a data-title="Изменить или удалить" class="btn btn-circle btn-default btn-xs" href="{{ path('buildings_edit', {'qvBuilding': qvBuildings.id}) }}">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
        </div>
    </div>
</td>	
        </tr>
    {% endfor %}

</tr>
</tbody>
</table>
</div>
</div>

		<div class="row">
			<div class="col-sm-10">
				<div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Показанные записи: 1 
			</div>
		</div>
		
		<div class="col-sm-10">
			<div class="dataTables_paginate paging_simple_numbers" align="right" id="dataTables-example_paginate">
				<ul class="pagination">
					<li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
						<a href="#">Previous</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
							<a href="#">1</a>
					</li>
							<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
								<a href="#">2</a>
							</li>
									<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
										<a href="#">3</a>
									</li>
											<li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
												<a href="#">Next</a>
											</li>
				</ul>
		</div>
		</div>
		</div>
		</div>
        </div>
        <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
        </div>	
        #}
    </div>
    <!-- /#page-wrapper -->
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
    	$('#dataTables-buidings').DataTable();
	});   
 </script>
{% endblock %}
{% endblock %}
