{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}
	{% block body %}
		<div id="page-wrapper">
			<div class="row">
				<div class="col-sm-10">
					{% block breadcrumb %}
						<div id="breadcrumbs" class="btn-group btn-breadcrumb">
							<br>
							<a class="btn btn-default" href="{{ path('main_page') }}">
								<i class="fa fa-home"></i>
							</a>
							<a class="btn btn-default" href="{{ path('buildings_list') }}">Управление зданиями</a>
						</div>
					{% endblock %}
					<h2 class="page-header">
						{{ qvBuilding.name }}
					</h2>
				</div>
<div class="col-sm-10">
    <div class="panel panel-default">
    	<div class="panel-body">
    		<!--Nav tabs -->
        	<ul class="nav nav-tabs">
            	<li class="active">
            		<a href="#home" data-toggle="tab" aria-expanded="true">Этажи</a>
                </li>
                <li class="">
                	<a href="#profile" data-toggle="tab" aria-expanded="false">КПП</a>
                </li>
            </ul>
	 	<!-- Tab panes -->
        
<div class="tab-content">
	<div class="tab-pane fade active in" id="home">
    	<h4>Управление этажами</h4>
    	<div class="table-responsive table-striped">

<table id="dataTables-floor-control" class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-buidings" role="grid" aria-describedby="dataTables-example_info">
<thead>
<tr>
<th>#</th>
<th> Название этажа</th>
<th> Соответствующие сектора</th>
</tr>
</thead>
<tbody>
{% for floor in floors %}
<tr>
	<td>{{ loop.index }}</td>
<td>
<a href="{{ path('floors_show', {'qvBuilding': qvBuilding.id ,'id': floor.id }) }}">
{{ floor.name }}
</a>
</td>
<td>
<p> Сектора -{% for sector in sectorlist %}
{% if sector.floor == floor.name %}
 <a href="{{path('sectors_show', {'qvBuilding': qvBuilding.id, 'qvFloor': sector.floor.id, 'id': sector.id }) }}">
{{  sector.name }}, 
</a>
{% endif %} 
{% endfor %}</p>
</td> 

</tr>{% endfor %}
</tbody>
</table>
</div>
<!-- /.table-responsive -->
<br>
		<div class="text-right">
		<a href="{{ path('floors_create', {'qvBuilding': qvBuilding.id}) }}" class="btn btn-success btn-sm text-right">
			Добавить этаж
		</a>
	</div>
    </div>

    <div class="tab-pane fade" id="profile">
    	<h4>Управление КПП</h4>
		<div class="table-responsive table-striped">
<table id="dataTables-floor-control" class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-checkpoint-control" role="grid" aria-describedby="dataTables-example_info">
<thead>
<tr>
<th>#</th>
<th> Номер КПП</th>
<th> Дейтвия </th>
</tr>
</thead>
<tbody>
{% for check in check %} 
<tr>
	<td>{{ loop.index }}</td>
<td>
<a href="{{ path('checkpoints_show', {'qvBuilding':qvBuilding.id, 'id': check['id'] }) }}">
{{ check.name }}
</a>
</td>
<td>
	<div class="text-right">
<div class="btn-group">
	
  <a class="btn btn-circle btn-default btn-xs" href="{{ path('checkpoints_show', {'qvBuilding':qvBuilding.id, 'id': check.id }) }}" data-title="Посмотреть информацию">
                        <i class="fa fa-check"></i>
                  </a> &nbsp; 
                  
                  <a class="btn btn-circle btn-default" href="{{ path('checkpoints_edit', { 'qvBuilding':qvBuilding.id, 'id': check.id }) }}" data-title="Изменить или удалить информацию о КПП">
                    <i class="fa fa-edit"></i>
                  </a>
	<button class="btn btn-circle btn-default btn-xs" type="submit" data-title = "Удалить пока не работает">
		<i class="fa fa-times"></i>
	</button>
</div>
</div>
</td> 
</tr>
{% endfor %}
</tbody>
</table>
</div>
<!-- /.table-responsive -->
		<br>
    	<div class="text-right">
		<a href="{{ path('checkpoints_create', {'qvBuilding': qvBuilding.id,}) }}" class="btn btn-sm btn-success text-right">
			Добавить КПП
		</a>
	</div>  
    </div>
</div>
	
</div>
    <!-- /.panel-body -->
    </div>
<!-- /.panel -->
</div>
</div>
</div>

	{% endblock %}


{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $('#dataTables-floor-control"').DataTable();
});
</script>

<script type="text/javascript">
$(document).ready(function(){
});
    $('#dataTables-checkpoint-control').DataTable();
</script>

{% endblock %}


