{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}
	{% block body %}
		<div id="page-wrapper">
			<div class="row">
				<div class="col-sm-10">
					{% block breadcrumb %}
						<div id="breadcrumbs" class="btn-group btn-breadcrumb">
							<br>
							<a class="btn btn-default" href="{{ path('main_page') }}">
								<i class="fa fa-home"></i>
							</a>
							<a class="btn btn-default" href="{{ path('buildings_list') }}">Управление зданиями</a>
						</div>
					{% endblock %}
					<h2 class="page-header form-inline">
						<table class="text">
							<tbody>
						<tr>
						<td>
						{{ qvBuilding.name }}
						</td>
						<td class="rightcol">
						<a data-title="Редактировать здание" href="{{path('buildings_edit', {'qvBuilding': qvBuilding.id})}}" style="color:0a290a; text-align:right" class="btn-infotext text-right"><i class="text-right fa fa-cog"></i></a>
						</td>
						</tr>
					</tbody>
					</table>
					</h2>
				</div>
<div class="col-sm-10">
    <div class="panel panel-default">
    	<div class="panel-body">
    		<!--Nav tabs -->
        	<ul class="nav nav-tabs">
            	<li class="active">
            		<a href="#home" data-toggle="tab" aria-expanded="true">Этажи</a>
                </li>
                <li class="">
                	<a href="#profile" data-toggle="tab" aria-expanded="false">КПП</a>
                </li>
            </ul>
	 	<!-- Tab panes -->
        
<div class="tab-content">
	<div class="tab-pane fade active in" id="home">
    	<h4>Управление этажами</h4>
    	<div class="table-responsive table-striped">

<table id="dataTables-floor-control" class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-buidings" role="grid" aria-describedby="dataTables-example_info">
<thead>
<tr>
<th>#</th>
<th> Название этажа</th>
<th> Cектора</th>
</tr>
</thead>
<tbody>
{% for floor in floors %}
<tr>
	<td>{{ loop.index }}</td>
<td>
<a href="{{ path('floors_show', {'qvBuilding': qvBuilding.id ,'id': floor.id }) }}">
Этаж {{ floor.name }}
</a>
</td>
<td>
{#}
{% if sectorlist is empty  %}
	<div class="btn-group">
	<p>Сектора отсутствуют, вы можете -  
	<a class="btn btn-default btn-infotext" href="{{ path('sectors_create', {'qvBuilding':qvBuilding.id, 'qvFloor':floor.id}) }}" data-title="Добавить сектор"><i class="fa fa-plus"></i> </a>
	<a class="btn btn-default btn-infotext" href="{{ path('floor_deleting', {'qvBuilding':qvBuilding.id, 'qvFloor':floor.id}) }}" data-title="Удалить этаж"><i class="fa fa-times"></i> </a>
	</p>
</div>

{% else %} #}
{{ floor.sectors|join(',') }} 
</td> 

</tr>{% endfor %}
</tbody>
</table>
</div>
<!-- /.table-responsive -->
<br>
		<div class="text-right">
		<a href="{{ path('floors_create', {'qvBuilding': qvBuilding.id}) }}" class="btn btn-success btn-sm text-right">
			Добавить этаж
		</a>
	</div>
    </div>

    <div class="tab-pane fade" id="profile">
    	<h4>Управление КПП</h4>
		<div class="table-responsive table-striped">
<table id="dataTables-checkpoint-control" class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-checkpoint-control" role="grid" aria-describedby="dataTables-example_info">
<thead>
<tr>
<th>#</th>
<th> Номер КПП</th>
<th> Дейтвия </th>
</tr>
</thead>
<tbody>
{% for check in check %} 
<tr>
	<td>{{ loop.index }}</td>
<td>
<a href="{{ path('checkpoints_show', {'qvBuilding':qvBuilding.id, 'id': check['id'] }) }}">
{{ check.name }}
</a>
</td>
<td>
	<div class="text-right">
<div class="btn-group">
  <a class="btn btn-default btn-infotext" href="{{ path('checkpoints_show', {'qvBuilding':qvBuilding.id, 'id': check.id }) }}" data-title="Посмотреть информацию">
                        <i class="fa fa-eye"></i>
                  </a> &nbsp; 
                  
                  <a class="btn btn-default btn-infotext" href="{{ path('checkpoints_edit', { 'qvBuilding':qvBuilding.id, 'id': check.id }) }}" data-title="Изменить или удалить информацию о КПП">
                    <i class="fa fa-edit"></i>
                  </a>
	<a class="btn btn-default btn-infotext" type="submit" data-title = "Удалить пока не работает">
		<i class="fa fa-times"></i>
	</a>
</div>
</div>
</td> 
</tr>
{% endfor %}
</tbody>
</table>

</div>

<!-- /.table-responsive -->
		<br>
    	<div class="text-right">
		<a href="{{ path('checkpoints_create', {'qvBuilding': qvBuilding.id,}) }}" class="btn btn-sm btn-success text-right">
			Добавить КПП
		</a>
	</div>  
    </div>
</div>
	
</div>
    <!-- /.panel-body -->
    </div>
<!-- /.panel -->
</div>
</div>
</div>
	 <style>
   table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
   }
   table.text td {
    width: 50%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   td.rightcol { /* Правая ячейка */ 
    text-align: right; /* Выравнивание по правому краю */
   }
  </style>
	{% endblock %}


{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $("#dataTables-floor-control").DataTable();
});
</script>

<script type="text/javascript">
$(document).ready(function(){
});
    $('#dataTables-checkpoint-control').DataTable();
</script>

{% endblock %}


