{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}
	{% block body %}
		<div id="page-wrapper">
			<div class="row">
				<div class="col-sm-10">
					{% block breadcrumb %}
						<div id="breadcrumbs" class="btn-group btn-breadcrumb">
							<br>
							<a class="btn btn-default" href="{{ path('main_page') }}">
								<i class="fa fa-home"></i>
							</a>
							<a class="btn btn-default" href="{{ path('buildings_list') }}">Управление зданиями</a>
						</div>
					{% endblock %}
					<h2 class="page-header">
						{{ qvBuilding.name }}
					</h2>
				</div>
<div class="col-sm-10">
    <div class="panel panel-default">
    	<div class="panel-body">
    		<!--Nav tabs -->
        	<ul class="nav nav-tabs">
            	<li class="active">
            		<a href="#home" data-toggle="tab" aria-expanded="true">Этажи</a>
                </li>
                <li class="">
                	<a href="#profile" data-toggle="tab" aria-expanded="false">КПП</a>
                </li>
            </ul>
	 	<!-- Tab panes -->
        
<div class="tab-content">
	<div class="tab-pane fade active in" id="home">
    	<h4>Управление этажами</h4>
    	<div class="table-responsive table-striped">
<table class="table-bordered" id="dataTables-floor-control" aria-describedby="dataTables-building-control_info">
<thead>
<tr>
<th>#</th>
<th> Название этажа</th>
<th> Соответствующие сектора</th>
</tr>
</thead>
<tbody>
{% for floor in floors %}
<tr>
	<td>{{ loop.index }}</td>
<td>
<a href="{{ path('floors_show', {'qvBuilding': qvBuilding.id ,'id': floor.id }) }}">
{{ floor.name }}
</a>
</td>
<td>
<p> Сектора -{% for sector in sectorlist %}
{% if sector.floor == floor.name %}
 <a href="{{path('sectors_show', {'qvBuilding': qvBuilding.id, 'qvFloor': sector.floor.id, 'id': sector.id }) }}">
{{  sector.name }}, 
</a>
{% endif %} 
{% endfor %}</p>
</td> 

</tr>{% endfor %}
</tbody>
</table>
</div>
<!-- /.table-responsive -->
<br>
		<div class="text-right">
		<a href="{{ path('floors_create', {'qvBuilding': qvBuilding.id}) }}" class="btn btn-success btn-sm text-right">
			Добавить этаж
		</a>
	</div>
    </div>

    <div class="tab-pane fade" id="profile">
    	<h4>Управление КПП</h4>
		<div class="table-responsive table-striped">
<table class="table-bordered" id="dataTables-checkpoint-control" aria-describedby="dataTables-building-control_info">
<thead>
<tr>
<th>#</th>
<th> Номер КПП</th>
<th> Дейтвия </th>
</tr>
</thead>
<tbody>
{% for check in check %} 
<tr>
	<td>{{ loop.index }}</td>
<td>
<a href="{{ path('checkpoints_show', {'qvBuilding':qvBuilding.id, 'id': check['id'] }) }}">
{{ check.name }}
</a>
</td>
<td>
	<div class="text-right">
<div class="btn-group">
	
  <a class="btn btn-circle btn-default btn-xs" href="{{ path('checkpoints_show', {'qvBuilding':qvBuilding.id, 'id': check.id }) }}" data-title="Посмотреть информацию">
                        <i class="fa fa-check"></i>
                  </a> &nbsp; 
                  
                  <a class="btn btn-circle btn-default" href="{{ path('checkpoints_edit', { 'qvBuilding':qvBuilding.id, 'id': check.id }) }}" data-title="Изменить или удалить информацию о КПП">
                    <i class="fa fa-edit"></i>
                  </a>
	<button class="btn btn-circle btn-default btn-xs" type="submit" data-title = "Удалить пока не работает">
		<i class="fa fa-times"></i>
	</button>

</div>
</div>
</td> 
</tr>
{% endfor %}
</tbody>
</table>
</div>
<!-- /.table-responsive -->
		<br>
    	<div class="text-right">
		<a href="{{ path('checkpoints_create', {'qvBuilding': qvBuilding.id,}) }}" class="btn btn-sm btn-success text-right">
			Добавить КПП
		</a>
	</div>  
    </div>
</div>
	
</div>
    <!-- /.panel-body -->
    </div>
<!-- /.panel -->
</div>
</div>
</div>

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $('#dataTables-floor-control').DataTable();
});
</script>

<script type="text/javascript">
$(document).ready(function(){
    $('#dataTables-checkpoint-control').DataTable();
});
</script>

{% endblock %}


	{% endblock %}





{#
<div class="col-sm-10">
<div class="panel panel-default">
{#<div class="panel-heading">
 <h5>
{{ qvBuilding.name }} - Включает 
<span>
{{ count }} этажа(ей)
</span>
</h5>
</div>
<!-- /.panel-heading -->
<div class="panel-body">
<!-- Nav tabs -->
<ul class="nav nav-tabs">
<li class="active"><a href="#home" data-toggle="tab">Этажи</a>
</li>
<li><a href="#profile" data-toggle="tab">КПП</a>
</li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane fade in active" id="home">
<div class="col-sm-10">
<br>
<div class="panel panel-default">
{#<div class="panel-heading">
Этажи данного здания
<div class="text-right">
<a href="{{ path('floors_create', {'qvBuilding': qvBuilding.id}) }}" class="btn btn-success btn-sm text-right">
Добавить этаж
</a>
</div>
</div>
<!-- /.panel-heading -->
<div class="panel-body">

</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
</div>
<div class="tab-pane fade" id="profile">
<div class="col-sm-10">
<br>
<div class="panel-body">
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">Наименование
</th>
<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">Охрана
</th>
<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 40px;">Действия</th>
</tr>
</thead>
<tbody>
{% for check in check %} 
<tr class="gradeA odd" role="row">
<td class="sorting_1">
<label>
</label>
</td>
<td>
<label>
{#{% for qvUserPassport in  usp %}
<a href="{{ path('show_security', {'id': qvUserPassport.id}) }}">
{{ qvUserPassport.firstname }} {{ qvUserPassport.lastname }}, <br>  
{% endfor %}
</label>
</td>
<td class="center">
	<div class="btn-group">
<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
Выберите действие
<span class="caret"></span>
</button>
<ul class="dropdown-menu pull-right" role="menu">
<li>
<a href="{{ path('checkpoints_show', { 'id': check.id }) }}">Посмотеть информацию</a>
</li>
<li>
<a href="{{ path('checkpoints_edit', { 'id': check.id }) }}">Изменить или удалить информацию</a>
</li>
</ul>
</div>
</td>
</tr>
{% endfor %}        
</tbody>
</table>
</div>
<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>

    
</div>
</div>
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
</div>
</div>  

					<!-- /.table-responsive -->

					<!-- /.panel-body -->
					<!-- /.panel -->#}
{#
			<div class="col-lg-14">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h5>
								{{ qvBuilding.name }} - Включает 
							<span>
							{{ count }} этажа(ей)
							</span>
							</h5>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Этажи</a>
								</li>
								<li class=""><a href="#messages" data-toggle="tab" aria-expanded="false">КПП</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane fade" id="profile">
								<br>
									<div align ="left" class="col-sm-4">
										<h4>Этажи данного здания</h4>
									</div>
									<div  align ="right" class="col-sm-4">
										<a href="{{ path('floors_create') }}" class="btn btn-success">
										Добавить этаж
										</a>
										<a href="{{ path('sectors_create') }}" class="btn btn-success">
											Добавить сектор
										</a>
								</div>
								<br/>
								<br/>
									<div class="col-lg-8" >
										<div class="panel panel-default">
											<div class="panel-body" >
												<div class="table-responsive" >
													<table class="table table-striped table-bordered table-hover dataTable no-footer">
														<thead>
<tr>
<th class="sorting_asc"><b>Номер этажа</b></th>
<th class="sorting_asc"><b>Номер сектора</b>
</th>
</tr>
</thead>
<tbody>
	{% for floor in floors %}
<tr class="gradeA odd" role ="row">
<td>
<a href="{{ path('floors_show', {'id': floor.id }) }}">
	{{ floor.name }}
</td>
<td>
	{% for sector in sectorlist %}
{% if sector.floor == floor.name %}
	<a href="{{path('sectors_show', {'id': sector.id }) }}">
					{{  sector.name }}, 
	 </a>
	{% endif %} 
{% endfor %}
</td> 
</tr>
{% endfor %}
</tbody>
	</table>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</a></td></tr></tbody></table></div></div></div></div>
	</div>
	<!-- /.table-responsive -->
	<!-- /.panel-body -->
	<!-- /.panel -->

	<div class="tab-pane fade" id="messages">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">
Контрольно-пропускные пункты
</div>
<!-- /.panel-heading -->
<div class="panel-body">
<div class="dataTable_wrapper">
<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
<div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length">
<label>Show <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
<option value="10">10</option><option value="25">25</option>
<option value="50">50</option>
<option value="100">100</option></select> entries</label>
</div>
</div>
<div class="col-sm-6">
<div id="dataTables-example_filter" align="right" class="dataTables_filter">
<a href="{{ path('checkpoints_create') }}" class="btn btn-success">Создать КПП</a>
</div>
<br>
</div>
</div>
<div class="row">
<div class="col-sm-12"><table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
<thead>
<tr role="row">
	<th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 130px;">Номер КПП
	</th>
	<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">Здание
	</th>
	<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 40px;">Действия</th>
	</tr>
	</thead>
	<tbody>
	{% for check in check %} 
	<tr class="gradeA odd" role="row">
	<td class="sorting_1">
	<label>
	<a href="{{ path('checkpoints_show', { 'id': check['id'] }) }}">
	{{ check.id }}
	</a>
	</label>
	</td>
	<td>
	<label>
	<a href="{{ path('checkpoints_show', { 'id':  check['id'] }) }}">
	{{ check.name }}
	</a>
	</label>
	</td>
	<td class="center"><div class="btn-group">
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	Выберите действие
	<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right" role="menu">
	<li>
		<a href="{{ path('checkpoints_show', { 'id': check.id }) }}">Посмотеть информацию</a>
	</li>
	<li>
		<a href="{{ path('checkpoints_edit', { 'id': check.id }) }}">Изменить или удалить информацию</a>
	</li>
	</ul>
	</div>
	</td>
	</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Показанные записи: 1 </div></div><div class="col-sm-6">
														<div class="dataTables_paginate paging_simple_numbers" align="right" id="dataTables-example_paginate">
															<ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
																<a href="#">Previous</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
																<a href="#">1</a>                           </li>
																<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
																<a href="#">2</a></li>
																<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
																<a href="#">3</a></li>
																<li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
																<a href="#">Next</a></li>
															</ul>
														</div>
														</div>
														</div>
													</div>
												</div>
												<!-- /.table-responsive -->
												
											</div>
											<!-- /.panel-body -->
										</div>
										<!-- /.panel -->
									</div>
								</div>
							</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
			
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
	</div>
		<!-- /#page-wrapper -->

#}