{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}
	<link href="css/main.css" rel="stylesheet" type="text/css">
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					  <div id="breadcrumbs" class="btn-group btn-breadcrumb">
                        <br>
                        <a class="btn btn-default" href="{{ path('main_page') }}">
                        <i class="fa fa-home"></i>Главная
                        </a>
                    </div>
					{% endblock %}
				
               <h1 class="page-header">Личный кабинет администратора</h1>
                </div>
                <!-- /.col-lg-12 -->
       <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Аналитика
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo">
                         <a href="{{path('attendance')}}">
                            <div class="demo-container">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                                    <img class="lazy img-thumbnail" data-original="{{asset('bootstrap1/images/spline-irregular-time-default.svg') }}" alt="Ajax loaded data, clickable points" src="{{asset('bootstrap1/images/spline-irregular-time-default.svg')}}" style="">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-container"><h4>Посещаемость БЦ</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo">
                         <a href="{{path('attendece-visitors')}}">
                            <div class="demo-container">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                                    <img class="lazy img-thumbnail" data-original="{{asset('bootstrap1/images/pie-drilldown-default.svg') }}" alt="Ajax loaded data, clickable points" src="{{asset('bootstrap1/images/pie-drilldown-default.svg') }}" style="">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-container"><h4>Доля посетителей по арендаторам</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo">
                         <a href="{{path('visitorsbyorders')}}">
                            <div class="demo-container">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                                    <img class="lazy img-thumbnail" data-original="{{asset('bootstrap1/images/column-basic-default.svg') }}" alt="Ajax loaded data, clickable points" src="{{asset('bootstrap1/images/column-basic-default.svg')}}" style="">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-container"><h4>Посетители по заявкам и без заявок в разрезе КПП</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo">
                         <a href="{{path('dependenceVisitors')}}">
                            <div class="demo-container">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                                    <img class="lazy img-thumbnail" data-original="{{asset('bootstrap1/images/bubble-default.svg') }}" alt="Ajax loaded data, clickable points" src="{{asset('bootstrap1/images/bubble-default.svg') }}" style="">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-container"><h4>
                    График зависимости посетителей от количетсва секторов
                    </h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
	   </div>
				
<!-- two different charts -->


	</div>
</div></div>
{% endblock %}


{% block js %}
    <script src="{{asset('bootstrap1/js/admin-highchart.js')}}"></script>
    <script src="{{asset('bootstrap1/js/2admin-highchart.js')}}"></script>
    <script src="{{asset('bootstrap1/js/column-highchart.js')}}"></script>
    <script src="{{asset('bootstrap1/js/bubbles-highchart.js')}}"></script>
{{parent()}}


{% endblock %}