<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
         <!-- Bootstrap Core CSS -->

	<link href="{{ asset('bootstrap1/dist/css/sb-admin-2.css')}}" rel="stylesheet">

	<link href="{{ asset('bootstrap1/dist/css/timeline.css')}}" rel="stylesheet" type="text/css">

	<link href="{{ asset('bootstrap1/bower_components/bootstrap/dist/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	
	<link href="{{ asset('bootstrap1/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
	
	<link href="{{ asset('bootstrap1/bower_components/metisMenu/dist/metisMenu.min.css')}}" rel="stylesheet" type="text/css">

	<link href="{{ asset('bootstrap1/bower_components/morrisjs/morris.css')}}" rel="stylesheet" type="text/css">

	<link href="{{ asset('bootstrap1/bower_components/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
	
	<link href="{{ asset('bootstrap1/dateStyle.css')}}" rel="stylesheet" type="text/css">
	
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

	<style type="text/css">
	.btn-infotext{
		color: #2c442a;
	}
			.btn-infotext {
				display: inline-block; /* Строчно-блочный элемент */
				position: relative; /* Относительное позиционирование */
			}
			.btn-infotext:hover::after {
				content: attr(data-title); /* Выводим текст */
				position: absolute; /* Относительное позиционирование */
				right: 10%; top: 100%; /* Положение подсказки */
				z-index: 1; /* Отображаем подсказку поверх других элементов */
				background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
				font-family: Arial, sans-serif; /* Гарнитура шрифта */
				font-size: 10px; /* Размер текста подсказки */
				padding: 3px 5px; /* Поля */
				border: 0.5px solid #333; /* Параметры рамки */
			}
			.label-hide{
				display: none;
			}
	</style>
	 <style>
        .disabled  {
        	background: #d8d3d3;
        	pointer-events: none;
            cursor: default;
        	color: #9f7070;	
        }
       .enabled {
		    pointer-events: auto;
    		cursor: pointer;
}
        </style>

	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
<div id="wrapper"> 
{% block navbar%}
	{{ render(controller('AppBundle:PageMenu:menu')) }}
{% endblock %}
			
			{% block body %}
				{% block breadcrumb %}{% endblock %}
			{% endblock %}
			{% block foot%} {% endblock %}
	</div>
	
	
        {% block javascripts %}
		

		<script src="{{asset('bootstrap1/bower_components/jquery/dist/jquery.min.js')}}"></script>
			
		<script src="{{asset('bootstrap1/bower_components/raphael/raphael-min.js')}}"></script>

		<script src="{{asset('bootstrap1/bower_components/morrisjs/morris.min.js')}}"></script>
		
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

		<script src="{{asset('bootstrap1/js/breadcrumbs.js')}}"></script>

		<script src="{{asset('bootstrap1/dist/js/sb-admin-2.js')}}"></script>

		<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

		<script src="{{asset('bootstrap1/bower_components/metisMenu/dist/metisMenu.min.js')}}"></script>
		
		<script src="{{asset('bootstrap1/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
		
		<script src="https://code.highcharts.com/highcharts.js"></script>

		<script src="{{asset('bootstrap1/bower_components/bootstrap/dist/js/jquery.dataTables.min.js')}}"></script>
		
		<script src="{{asset('bootstrap1/bower_components/bootstrap/dist/js/dataTables.bootstrap.min.js')}}"></script>
		
		<script src="{{asset('bootstrap1/js/data.js')}}"></script>
		
        {% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>