<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
         <!-- Bootstrap Core CSS -->
	<link href="{{ asset('bootstrap1/dist/css/sb-admin-2.css')}}" rel="stylesheet">
	<link href="{{ asset('bootstrap1/dist/css/timeline.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bootstrap1/dist/css/breadcrumbs.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bootstrap1/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bootstrap1/bower_components/metisMenu/dist/metisMenu.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bootstrap1/bower_components/morrisjs/morris.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bootstrap1/bower_components/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
	
	
	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
<div id="wrapper"> 
{% block navbar%}
	
{%endblock%}
			
			{% block body %}
				{% block breadcrumb %}{% endblock %}
			{% endblock %}
			{% block foot%} {% endblock %}
	</div>
	
	
        {% block javascripts %}
		

		<script src="{{asset('bootstrap1/bower_components/jquery/dist/jquery.min.js')}}"></script>
		<script src="{{asset('bootstrap1/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
		<script src="{{asset('bootstrap1/bower_components/metisMenu/dist/metisMenu.min.js')}}"></script>
		<script src="{{asset('bootstrap1/bower_components/raphael/raphael-min.js')}}"></script>
		<script src="{{asset('bootstrap1/bower_components/morrisjs/morris.min.js')}}"></script>
		<script src="{{asset('bootstrap1/dist/js/sb-admin-2.js')}}"></script>
		<script src="https://code.highcharts.com"></script>
        {% endblock %}
    </body>
</html>