    {% extends 'AppBundle::base.html.twig' %}



{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}
        
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                            {% block breadcrumb %}
                       <div id="breadcrumbs" class="btn-group btn-breadcrumb">
                <br>
                <a class="btn btn-default" href="{{ path('main_page') }}">
                    <i class="fa fa-home"></i>
                        Главная
                </a>
                <a class="btn btn-default" href="{{ path('security_list') }}">
                        Управление охраной
                </a>
                
             </div>
                    {% endblock %}
                                            
               <h1 class="page-header">Просмотр информации об охране</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="col-lg-6">
                            <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
            
    
                        <div class="table-responsive">
                                <table class="table">
                                    
                                    <tbody>
                                 <tr>
                <th>Фамилия</th>
                <td>{{ qvUserPassport.firstname }}</td> </tr>
                                 <tr>
                <th>Иям</th>
                <td>{{ qvUserPassport.lastname }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ qvUserPassport.patronimic }}</td>
            </tr>
             <tr>
                <th>Дата рождения</th>

                <td>{% if qvUserPassport.birthdate %}{{ qvUserPassport.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
            <td>
                
            </td>
            <td align="right"><br>
                <a href="{{ path('edit_security', { 'id': qvUserPassport.id }) }}" class="btn btn-infotext btn-default">Редактировать
                </a>
            </td>
             <td align="right"><br>{% for us in qvUser %}
                <a href="{{ path('user_disabled', {'qvUser': us.id }) }}" class="btn btn-default">Заблокировать
                </a>
                    {% endfor %}
            </td>
            </tr>
            </tbody>
            </table>                            
                </div>  </div>  </div>  </div>      
            </div>
                    <!-- /#page-wrapper --> 

            {% endblock %}