{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет пользователя{% endblock %}



{% block body %}
		
        
        
	 <div id="page-wrapper">
                	{% block breadcrumb %}
					<div id="bc1" class="btn-group btn-breadcrumb">
						<br>
                        <a class="btn btn-default" href="{{path('index')}}"><i class="fa fa-home"></i></a>
						<a class="btn btn-default" href="{{path('show_orders')}}">Заявки</a>
						<a class="btn btn-default" href="{{path('create_order')}}">Создать заявку</a>
                    </div>
					{% endblock %}
				
            <div class="row">
                <div class="col-lg-12">
               <h1 class="page-header">Личный кабинет пользователя</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <div class="row">
                <div class="col-lg-8">
                
                    <div class="panel panel-default">
                    <div class="panel-heading">
                           <i class="glyphicon glyphicon-pencil"></i> Создание заявки для посетителя
                        </div>
                      <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{form_start(form)}}
                                <table class="col-lg-12">
                                    <tbody>
                                      <tr>
                                        <td class="td-padding">{{ form_label(form.sdate) }}
                                            {{ form_errors(form.sdate) }}
                                            {{ form_widget(form.sdate, {'attr': {'class':'form-control'}}) }}
                                        </td>
                                        <td class="td-padding">{{ form_label(form.opentime) }}
                                            {{ form_errors(form.opentime) }}
                                            {{ form_widget(form.opentime, {'attr': {'class':'form-control'}}) }}
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="td-padding">{{ form_label(form.edate) }}
                                            {{ form_errors(form.edate) }}
                                            {{ form_widget(form.edate, {'attr': {'class':'form-control'}}) }}
                                        </td>
                                        <td class="td-padding">{{ form_label(form.closetime) }}
                                            {{ form_errors(form.closetime) }}
                                            {{ form_widget(form.closetime, {'attr': {'class':'form-control'}}) }}
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                                <div  class="td-padding">
                                    {{ form_label(form.ordertype) }}
                                     {{ form_errors(form.ordertype) }}
                                     {{ form_widget(form.ordertype, {'attr': {'class':'form-control'}}) }}</div>

                                <div style="display:block">{{ form_label(form.visitors) }}
                                     {{ form_errors(form.visitors) }}
                                     {{ form_widget(form.visitors) }}</div>
                                <div  class="td-padding" id='visitors-input'>
                                    <label>Посетители</label>
                                </div>
                                <div class="text-right">{{ form_label(form.select) }}
                                     {{ form_widget(form.select) }}
                                 {{form_widget(form._token)}}</div>
                                     <div class="td-padding">
                                <input type="submit" class="btn btn-primary" value="Создать" />
                                <a class="btn btn-default" href="{{path('show_orders')}}">Отмена</a></div>
                                    {{form_end(form)}}
<!--                                      <h3>Информация о посетителе</h3>
                                  <form role="form">
                                        <div class="form-group has-success">
                                            <label class="control-label" for="inputSuccess">Фамилия посетителя</label>
                                            <input type="text" class="form-control" id="inputSuccess" name="first_name" required>
                                        </div>
                                        <div class="form-group has-warning">
                                            <label class="control-label" for="inputWarning">Имя посетителя</label>
                                            <input type="text" class="form-control" id="inputWarning" name = "last_name" required>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Отчество посетителя</label>
                                            <input type="text" class="form-control" id="inputError" name="patronymic">
                                        </div>
                                           <button type="submit" class="btn btn-default">Создать заявку</button>                                                                                            
                                           <button type="reset" class="btn btn-default">Очистить форму</button>
                                    </form>-->
                                   
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                       
  
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Список Ваших посетителей</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                                <div class="form-group input-group">
                                                                    <input type="text" class="form-control" placeholder="Найти">
                                                                    <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="dataTable_wrapper">
                                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                            <thead>
                                                                <tr>
                                                                    <th>Фамилия</th>
                                                                    <th>Имя</th>
                                                                    <th>Отчество</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="visitors">
                                                                {%for visitor in visitors%}
                                                                <tr value="{{visitor.id}}" data-dismiss="modal" name="{{visitor.firstname}}">
                                                                <td >{{visitor.lastname}}</td>
                                                                <td >{{visitor.firstname}}</td>
                                                                <td  >{{visitor.patronimic}}</td>
                                                                </tr>
                                                                {%endfor%}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a  class="btn btn-sm btn-default" href="{{path('new_visitor')}}">111</a>

                                                    <button onclick="$('#newVisitorModal .modal-dialog').load('{{path('new_visitor')}}');" class="btn btn-sm btn-default" data-toggle="modal" data-target="#newVisitorModal" data-dismiss="modal">Создать</button>

                                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                                </div>
                                            </div>
                                        <!-- /.modal-content -->
                                        </div>
                                    <!-- /.modal-dialog -->
                                    </div>

                                <div class="modal fade" id="newVisitorModal" tabindex="-1" role="dialog" aria-labelledby="newVisitorModalLabel" aria-hidden="true">
                                    <div class="modal-dialog"></div></div>

            {% endblock %}
            {% block js %}
                <script> 
$(function (){

   
    var array = [];
    $('#visitors tr').click(function(event){
        var name = $(this).attr('name');
        var i=0;
        $('#visitors-input').find('input:text').each(function(){
              if(  $(this).attr('value') == name){
                i++;
              }
        })
        if (i == 0){
        $('#visitors-input').append('<div class="visitor  form-margin2 form-group input-group"><input id="'+$(this).attr('value')+'" type="text" disabled="true" class="form-control" value="'+$(this).attr('name')+'"/><span class="input-group-btn"  id="'+$(this).attr('value')+'"><button onclick="a();" class="btn btn-default" id="delete" type="button"><i class="fa fa-times"></i></button></span></div>');

            $("#form_visitors option[value='" + $(this).attr('value') + "']").prop("selected", true);
            console.log($(this).attr('value'));
            array.push($(this).attr('value'));}
    console.log(array);
    });  

    
       
});

</script><script>function a(){
        $("#form_visitors option[value='" + $('#delete').parent().attr('id') + "']").prop("selected", false);
    console.log($('#delete').parent().attr('id'));
    $('#delete').parent().parent().remove();};
</script>
{% endblock %}