
{% block navbar%}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index">QVisitor</a>
				</div>
				
{{ render(controller('AppBundle:UserProfile:profileMenu')) }}
		
				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
		    <li>
			<a href="{{path('home')}}">Главная</a>
        </li>
        
		<li>
			<a href="{{path('orders_list')}}">Заявки</a>
        </li>	
		<li>
			<a href="{{path('entrance')}}">Посетители</a>
        </li>
		<li>
			<a href="{{path('hotentranc')}}">Посетители без заявок</a>
        </li>	
						</ul>
					</div>
				</div>
			</nav>

	{% endblock %}	


