{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}
{% block body %}
		
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
				 <div id="breadcrumbs" class="btn-group btn-breadcrumb">
             	<br>
            	<a class="btn btn-default" href="{{ path('main_page') }}">
            		<i class="fa fa-home"></i>
            			Главная
            	</a>
            	<a class="btn btn-default" href="{{ path('leasers_list')}}">
            			Управление арендаторами
            	</a>
       		 </div>
					{% endblock %}
											
               <h1 class="page-header">Добавление нового арендатора</h1>
                <!-- /.col-lg-12 -->
            </div>
			
	<div class="col-lg-4" >
	<div class="form-group has-success">
				{{ form_start(form)}}		
    {{ form_widget(form) }}
    
        <div class="form-inline form-input">
				<button type="submit" class="btn btn-default btn-sm">
					Создать
				</button>
				<a href="{{ path('leasers_list') }}" class="btn btn-default btn-sm">
					Отменить
				</a>
				{{ form_end(form) }}

				</div>
	</div>
        <!-- /.row -->
		</div>
	</div>
        <!-- /#page-wrapper -->
		</div>>
    
            {% endblock %}