{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}
		
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
 						<div id="breadcrumbs" class="btn-group btn-breadcrumb">
				             	<br>
				            	<a class="btn btn-default" href="{{ path('main_page') }}">
				            		<i class="fa fa-home"></i>
				            			Главная
				            	</a>
								<a class="btn btn-default" href="{{ path('leasers_list') }}">Управление арендаторами</a>
								<a class="btn btn-default" href="{{path('leasers_show', {'id':qvLeaser.id})}}">
									Просмотр информации об арендаторах
								</a>
					</div>
					{% endblock %}
											
               <h1 class="page-header">Изменение информации об арендаторе</h1>
                <!-- /.col-lg-12 -->
            </div>
<style>
   li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
</style>
</div>
<div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Внесите изменения
                        </div>
                        <!-- .panel-heading -->
    <div class="panel-body">
	<div class="form-group has-warning">
		<div class="form-margin">		
			{{ form_start(edit_form) }}
			{{form_widget(edit_form)}}
            {{form_widget(edit_form._token)}}
			<br>
            <div class="text-right form-margin">  
        <button class="btn btn-default" type="submit" name="save"> Сохранить </button>
        <a class="btn btn-default" href="{{ path('leasers_list') }}">Отменить</a><br> 
			{{ form_end(edit_form) }}

	{{  form_start(delete_form) }}
    <br>
			<button class="btn btn-default" type="submit">
				Удалить
			</button>
		{{ form_end(delete_form) }}				
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- .panel-body -->
<!-- /#page-wrapper -->   
{% endblock %}