{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

	
{% block body %}

<div id="page-wrapper">
<div class="row">
<div class="col-lg-12">
{% block breadcrumb %}
 <div id="breadcrumbs" class="btn-group btn-breadcrumb">
             	<br>
            	<a class="btn btn-default" href="{{ path('main_page') }}">
            		<i class="fa fa-home"></i>
            			Главная
            	</a>
       		 </div>
{% endblock %}

<h1 class="page-header">Управление арендаторами</h1>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</div>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-bordered table-hover dataTable no-footer" id="LeaserdataTables" role="grid" aria-describedby="dataTables-example_info">
            <thead>
            <tr role="row">
            	<th  tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 172px;">		
            		№ 
            	</th>
            	<th  tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 204px;">
            		BIN
            	</th>
            	<th  tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 185px;">
            		Название компании
            	</th>
            	<th  tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 185px;">
            		Занимает Этаж(и)
            	</th>
            	<th tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 149px;">
            		Занимает Офис(ы) 
            	</th>
            	<th tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" style="width: 120px;">
            		Действия:
            	</th>
            </tr>
        	</thead>
        <tbody>
        	{% for qvLeaser in qvLeasers %}
            <tr role="row">
            	<td >{{ loop.index }}</td>
                <td class="center"><a href="{{ path('leasers_show', {'id':qvLeaser.id})}}">
                	{{ qvLeaser.bin }}
                </td></a>
                <td class="center"><a href="{{ path('leasers_show', {'id':qvLeaser.id})}}">
                	{{ qvLeaser.name }}
                </a></td>
                <td class="center">{{ qvLeaser.countS }}</td>
                <td class="center">{{ qvLeaser.countf }}</td>
                <td>
	               <a class="btn btn-circle btn-default btn-xs" href="{{ path('leasers_show', { 'id': qvLeaser.id }) }}" data-title="Информация об учетной записи пользователя">
                        <i class="fa fa-check"></i>
		          </a> &nbsp; 
		          
                  <a class="btn btn-circle btn-default" href="{{ path('leasers_edit', { 'id': qvLeaser.id }) }}" data-title="Изменить или удалить информацию о пользователе">
                    <i class="fa fa-edit"></i>
		          </a>
				</td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
    <br>    
    <div class="text-right">
        <a class="btn btn-success btn-md" href="{{ path('leasers_create') }}">Добавить арендатора</a>
    </div>

</div>
</div>
<!-- /.table-responsive -->
</div>
<!-- /#page-wrapper -->
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
    $('#LeaserdataTables').DataTable();
});
</script>
{% endblock %}