{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}

<div id="page-wrapper">
<div class="row">
<div class="col-lg-12">
{% block breadcrumb %}
 <div id="breadcrumbs" class="btn-group btn-breadcrumb">
             	<br>
            	<a class="btn btn-default" href="{{ path('main_page') }}">
            		<i class="fa fa-home"></i>
            			Главная
            	</a>
       		 </div>
{% endblock %}

<h1 class="page-header">Управление арендаторами</h1>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</div>

<div class="row">
	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

		<table class="table  table-bordered table-hover dataTable no-footer" id="LeaserdataTables" role="grid" aria-describedby="dataTables-example_info">
            <thead>
            <tr role="row">
            	<th  tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 172px;">		
            		№ 
            	</th>
            	<th  tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 204px;">
            		BIN
            	</th>
            	<th  tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 185px;">
            		Название компании
            	</th>
            	<th  tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 185px;">
            		Статус пользоваетеля
            	</th>
            	<th tabindex="0" aria-controls="LeaserdataTables" rowspan="1" colspan="1" style="width: 120px;">
            		Действия:
            	</th>
            </tr>
        	</thead>
        <tbody>

                {% for qvUser in qvUsers %}
                {% if qvUser.disabled != 1 %} 
            <tr role="row" id="tr_user">
            	<td >{{ loop.index }}</td>
                <td class="center">
                    <a href="{{ path('leasers_show', {'id':qvUser.leaser.id})}}">
                	{{ qvUser.leaser.bin }}
                    </a>
                 </td>
                <td class="center">
                    <a href="{{ path('leasers_show', {'id':qvUser.leaser.id})}}">
                	{{ qvUser.leaser.name }}
                    </a>
                </td>
                <td class="center">
                    <div class="btn btn-xs btn-infotext" data-title="Активен">
                    <a class="btn btn-success btn-xs enabled" href="{{ path('user_disabled', { 'qvUser':qvUser.id }) }}">
                        <i class="fa fa-check"></i>
                    </a>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
	                   <a class="btn btn-default btn-infotext" href="{{ path('leasers_show', { 'id': qvUser.leaser.id }) }}" data-title="Информация об учетной записи пользователя">
                        <i class="fa fa-eye"></i>
                        </a> &nbsp; 
                        <a class="btn btn-default btn-infotext" href="{{ path('company_edit', { 'id': qvUser.leaser.id }) }}" data-title="Изменить или удалить информацию о пользователе">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>    
				</td>
            </tr>
        {% else %}
           <tr role="row" class="disabled">
                <td>{{ loop.index }}</td>
                <td class="center"><a href="{{ path('leasers_show', {'id':qvUser.leaser.id})}}">
                    {{ qvUser.leaser.bin }}
                </a>
                </td>
                <td class="center"><a href="{{ path('leasers_show', {'id':qvUser.leaser.id})}}">
                    {{ qvUser.leaser.name }}
                </a></td>
                <td class="center">
                     <div class="btn btn-xs btn-infotext" data-title="Отключен">
                          <a class="btn btn-danger btn-xs enabled" href="{{ path('user_enabled', { 'qvUser':qvUser.id }) }}">
                        <i class="fa fa-lock"></i>
                    </a>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                   <a class="btn btn-default btn-infotext" href="{{ path('leasers_show', { 'id': qvUser.leaser.id }) }}" data-title="Информация об учетной записи пользователя">
                        <i class="fa fa-eye"></i>
                  </a> &nbsp; 
                  
                  <a class="btn btn-default btn-infotext" href="{{ path('company_edit', { 'id': qvUser.leaser.id }) }}" data-title="Изменить или удалить информацию о пользователе">
                    <i class="fa fa-edit"></i>
                  </a>
              </div>
                </td>
            </tr>
        {% endif %}
			{% endfor %}
        </tbody>
    </table>
    <br>    
    <div class="text-right">
        <a class="btn btn-success" href="{{ path('leasers_create') }}">Добавить арендатора</a>
    </div>
</div>     
</div>
</div>
</div>
</div>
<!-- /.table-responsive -->
<!-- /#page-wrapper -->
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
    $('#LeaserdataTables').DataTable();
});
</script>
 
{% endblock %}