{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}

    {% block body %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    {% block breadcrumb %}
                     <div id="breadcrumbs" class="btn-group btn-breadcrumb">
                        <br>
                        <a class="btn btn-default" href="{{ path('main_page') }}">
                            <i class="fa fa-home"></i>
                        </a>
                        <a class="btn btn-default" href="{{ path('leasers_list') }}">
                            Управление арендаторами
                        </a>
                    </div>
                {% endblock %}

                <h1 class="page-header">Просмотр информации об арендаторе</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">			
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr class="col-lg-8">
                                    <th>
                                        Название компании - арендатора
                                    </th>

                                    <td>
                                        {{ qvUser.leaser.name }}
                                    </td>
                                </tr>

                                <tr class="col-lg-8">
                                    <th>
                                        Bin
                                    </th>
                                    <td>
                                     {{ qvUser.leaser.bin }}
                                 </td>
                             </tr>
                             <tr class="text-left col-lg-8">
                            <td><br>
                            <a href="{{ path('company_edit', { 'id': qvUser.leaser.id }) }}" class="btn btn-default"> Изменить информацию о компании
                                    </a></td>
                                    <td>    <br>
                            <a href="{{ path('leaser_change', {'id': qvUser.leaser.id }) }}" class="btn btn-default">Изменить информацию об арендаторе 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>							
                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Информация о контрактах данного арендатора
                </div>
                
                <div class="panel-body">
                        <div class="form-group"> 
                        {% if contracts is empty %}
                            <p class="text-info">
                                Контракты отсутствуют! 
                            </p>
                            <p>
                                Вы можете создать - 
                                <a class="btn btn-default" href="{{ path('contracts_create', {'qvLeaser':qvUser.leaser.id}) }}">
                                    Новый контракт
                                </a>
                            </p>
                        {% else %}
                            <table>
                                <tbody>
                                    {% for contracts in contracts %}
                                        <tr>
                                            <td>
                                                {{  loop.index  }} Контракт - &nbsp;
                                            </td>

                                            <td>
                                                <button data-title="Просмотр" onclick="$('#myModal .modal-dialog').load('{{ path('contracts_modal', { 'id':contracts.id }) }}');" class="btn btn-sm btn-default btn-infotext" data-toggle="modal" data-target="#myModal">
                                                    {{  contracts.name }}
                                                </button>
                                            </td>

                                            <td>
                                                <a data-title="Изменить" href="{{ path("contracts_edit", {'qvLeaser':qvUser.leaser.id,'id':contracts.id}) }}" class="btn btn-default btn-infotext">
                                                <i class="fa fa-pencil"></i>
                                                </a>
                                            </td>

                                            <td>
                                                <a data-title="Удалить" href="{{ path("contract_deleting", {'qvLeaser':qvUser.leaser.id,'id':contracts.id}) }}" class="btn btn-default btn-infotext">
                                             <i class="text-center fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>            		
                    <div class="panel-footer text-right">
                            <a class="btn btn-success" href="{{ path('contracts_create', {'qvLeaser':qvUser.leaser.id}) }}">
                                Добавить новый контракт
                            </a>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
</div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog"></div>  
        </div>

        <!-- /#page-wrapper --> 
    {% endblock %}