{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			{% block breadcrumb %}
				 <div id="breadcrumbs" class="btn-group btn-breadcrumb">
                        <br>
                        <a class="btn btn-default" href="{{ path('main_page') }}">
                        <i class="fa fa-home"></i>Главная
                        </a>
                        <a class="btn btn-default" href="{{ path('buildings_list') }}">Управление зданиями
                        </a>
                        <a class="btn btn-default" href="{{ path('buildings_show',{'qvBuilding':qvBuilding.id}) }}">{{ qvBuilding.name }}
                        </a>
                        <a class="btn btn-default" href="{{ path('buildings_show', {'qvBuilding':qvBuilding.id}) }}">Управление этажами
                        </a>
                    </div>
                    <br>
			{% endblock %}
	<!-- /.col-lg-12 -->
		</div>
	<br>
	<br>
	<br>
	<br>
	<h2 class="page-header">{{ qvFloor.name }}</h2>
	<br>
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="panel panel-default">
        		                {#<div class="panel-heading">
                		            <i class="fa fa-bar-chart-o fa-fw">
                		            </i>
                		            Расположен в здании:
									{{  qvFloor.building }}
                				</div>#}
                        <!-- /.panel-heading -->
{% if sector is empty %}
	<div><font size='3'> Сектора отсутствуют</font> 
			<p class="text-right"> <a class="btn btn-success btn-xs" href="{{ path('sectors_create', {'qvBuilding':qvBuilding.id, 'qvFloor':qvFloor.id}) }}">Добавить сектор</a>
	</p></div>
{% else %}
    <div class="panel-body">
		<div class="table-responsive">
        	<table class="table">
            	<tbody>
            		<thead>
            			<th>
            				#
            			</th>
            			<th>
            				№ Сектора
            			</th>
            		</thead>
{% for sector in sector %}
					<tr class="success">
						<td>
							{{ loop.index }}
						</td>
						<td>
	<a href="{{path('sectors_show', {'qvBuilding':qvBuilding.id, 'qvFloor':qvFloor.id,'id':sector.id }) }}">
{{  sector.name }}, 
	</a></td>
				    </tr>
{% endfor %}			
					<tr class="text-right">
						<td class="text-right">
						</td>
						<td>
							<div class="text-right">
								<a class="btn btn-success btn-xs" href="{{ path('sectors_create', {'qvBuilding':qvBuilding.id, 'qvFloor':qvFloor.id}) }}">		Добавить сектор
								</a>
							</div>
							<div class="text-right">
							<br>
							<a href="{{ path('floors_edit', { 'qvBuilding': qvBuilding.id,'id': qvFloor.id }) }}" align="right" class="btn btn-circle  btn-default btn-lg" data-title ="Редактировать">
								<i class="fa fa-pencil"></i>								
							</a>
							</div>
						</td>
					</tr>
					</tbody>
            </table>					
        </div>
	</div>
	{% endif %}
<!-- /.panel-body -->
						</div>
					</div>
			<!-- /.col-lg-6 (nested) -->
				</div>
			<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
	<!-- /.panel -->
	</div>
<!-- /.row -->
</div>
<!-- /#page-wrapper -->
</div>
    


{% endblock %}