{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			{% block breadcrumb %}
				 <div id="breadcrumbs" class="btn-group btn-breadcrumb">
                        <br>
                        <a class="btn btn-default" href="{{ path('main_page') }}">
                        <i class="fa fa-home"></i>Главная
                        </a>
                        <a class="btn btn-default" href="\adminbc\building\{{qvFloor.building.id}}\show">Управление зданиями
                        </a>
                        <a class="btn btn-default" href="\adminbc\building\{{qvFloor.building.id}}\show">Управление этажами
                        </a>
                    </div>
                    <br>
			{% endblock %}
	<!-- /.col-lg-12 -->
		</div>
	<br>
	<br>
	<br>
	<br>
	<h2 class="page-header">Просмотр информации об этаже</h2>
	<br>
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="panel panel-default">
        		                <div class="panel-heading">
                		            <i class="fa fa-bar-chart-o fa-fw">
                		            </i>
                		           	Этаж № {{ qvFloor.name }} 
                		           	<div class="text-right">
                		           	<a class="btn btn-success btn-xs" href="{{ path('sectors_create', {'qvBuilding':qvBuilding.id, 'qvFloor':qvFloor.id}) }}">Добавить сектор</a>
                		           </div>
                				</div>
                        <!-- /.panel-heading -->
    <div class="panel-body">
		<div class="table-responsive">
        	<table class="table">
            	<tbody>
					<tr class="success">
						<td>	
						Расположен в здании:
						</td>
						<td>{{ qvFloor.building }}</td>
					</tr>
					<tr class="success">
						<td>
							Включает сектора
						</td>
						<td>
{% for sector in sector %}
<a href="{{path('sectors_show', {'qvBuilding':qvBuilding.id, 'qvFloor':qvFloor.id,'id':sector.id }) }}">
{{  sector.name }}, 
	</a>
{% endfor %}
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<div class="text-right">
							<br>
							<a href="{{ path('floors_edit', { 'qvBuilding': qvBuilding.id,'id': qvFloor.id }) }}" align="right" class="btn  btn-default">
								Редактировать
							</a>
							</div>
						</td>
					</tr>
                </tbody>
            </table>					
        </div>
	</div>
<!-- /.panel-body -->
						</div>
					</div>
			<!-- /.col-lg-6 (nested) -->
				</div>
			<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
	<!-- /.panel -->
	</div>
<!-- /.row -->
</div>
<!-- /#page-wrapper -->
</div>
    


{% endblock %}