{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			{% block breadcrumb %}
				 <div id="breadcrumbs" class="btn-group btn-breadcrumb">
                        <br>
                        <a class="btn btn-default" href="{{ path('main_page') }}">
                        <i class="fa fa-home"></i>Главная
                        </a>
                        <a class="btn btn-default" href="{{ path('buildings_list') }}">Управление зданиями
                        </a>
                        <a class="btn btn-default" href="{{ path('buildings_show',{'qvBuilding':qvBuilding.id}) }}">{{ qvBuilding.name }}
                        </a>
                        <a class="btn btn-default" href="{{ path('buildings_show', {'qvBuilding':qvBuilding.id}) }}">Управление этажами
                        </a>
                    </div>
                    <br>
			{% endblock %}
	<!-- /.col-lg-12 -->
	<h2 class="page-header">Этаж {{ qvFloor.name }}</h2>
</div>
	</div>

	<div class="row">
		<div class="col-lg-10">
			<div class="panel panel-default">
				<div class="panel-body">
	{% if sector is empty %}
	<div>
		<font size='3'> Сектора отсутствуют</font> 
			<p class="text-right"> <a class="btn btn-default" href="{{ path('sectors_create', {'qvBuilding':qvBuilding.id, 'qvFloor':qvFloor.id}) }}">Добавить сектор</a>
			<a href="{{path('floors_edit', {'qvBuilding':qvBuilding.id, 'id':qvFloor.id})}}" class="btn btn-default">Редактировать этаж</a>
	</p></div>
{% else %}
		<div class="row">
                <div class="col-lg-12">                      
<div class="panel-body">
	<div class="dataTable_wrapper">
    	<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        	<div class="row">
            	<div class="col-sm-12">
                	<table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-show-floor" role="grid" aria-describedby="dataTables-example_info">
<thead>
	<tr role="row">
		<th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 101px;">#</th>
		<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 126px;">№ Сектора</th>
		<th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 126px;">Действия</th>
	</tr>
</thead>
	<tbody>                   
    {% for sector in sector %}
		<tr>
			<td>
				{{ loop.index }}
			</td>
			
			<td>
				<a href="{{path('sectors_edit', {'qvBuilding':qvBuilding.id, 'qvFloor':qvFloor.id,'id':sector.id }) }}">
					{{  sector.name }} 
				</a>
			</td>
			<td>
				<a href="{{ path('sector_deleting', {'qvBuilding': qvBuilding.id,'qvFloor': qvFloor.id, 'qvSector':sector.id }) }}" align="right" class="btn btn-default btn-infotext" data-title = "Удалить сектор"><i class="fa fa-times"></i>
				</a>
			</td>
		</tr>
{% endfor %}
    </tbody>
</table>
<br>
<div class="text-right">
	<a href="{{ path('floors_edit', { 'qvBuilding': qvBuilding.id,'id': qvFloor.id }) }}" align="right" class="btn btn-default">Редактировать этаж
	</a>
		<a class="btn btn-success" href="{{ path('sectors_create', {'qvBuilding':qvBuilding.id, 'qvFloor':qvFloor.id}) }}">
			Добавить сектор
		</a>
	</div>
</div>
	</div>
    	</div>
			</div>
        		</div>
      
	{% endif %}
<!-- /.panel-body -->
					</div>
			<!-- /.col-lg-6 (nested) -->
				</div>
			<!-- /.row (nested) -->
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block js %}
	<script>
	$(document).ready(function(){
		$('#dataTables-show-floor').DataTable();
	});
	</script>
{% endblock %}