{% extends 'AppBundle::base.html.twig' %}

{% block title %}Выбор рабочего места{% endblock %}
{% block navbar %} {% endblock %}


{% block body %}
<div class="container">
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Выбор рабочего места</h1>
				</div>
			</div>	
        <div class="row">
			<div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Пожалуйста выберите рабочее место</h3>
                    </div>
			<div class="panel-body">
			<div class="col-md-12">
			{{form_start(form)}}
			<table>
			<tbody>
			<tr>
			<td class="col-md-3">
			{{ form_label(form.building) }}
			{{ form_errors(form.building) }}
			{{ form_widget(form.building, {'attr': {'class':'form-control'}}) }}
			</td>
			<td class="col-md-3">
			{{ form_label(form.checkpoint) }}
			{{ form_errors(form.checkpoint) }}
			{{ form_widget(form.checkpoint, {'attr': {'class':'form-control'}}) }}
			</td></tr></tbody></table>
			<br>
			<div class="form-inline form-input col-md-12 text-right btn-pdn">
			<button type="submit" class="btn btn-primary btn-md">
			Подтвердить
			</button>
			{{ form_end(form) }}
			</div>
			</div>
			</div>
        </div>
    </div>
</div>

{% endblock %}
	{% block js %}
	    <script> 
function loadCheckpoints(buildingId){
	$('#form_checkpoint').empty();
	$.ajax({
        type: "GET",
        url: "{{ path('checkpoints')}}",
        data: {'id':buildingId},
        success: function(data){
$.each(JSON.parse(data),function(k,v){
$('#form_checkpoint').append('<option value="'+v.id+'">'+v.name+'</option>')
});		       	 }
});
}
$(function (){
	loadCheckpoints($('#form_building option:selected').val());
	$('#form_building').change(function(){
						loadCheckpoints($('#form_building option:selected').val());
				});
});
</script>
	{% endblock %}