{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>qvVisitorPhoto list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Photodate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qvVisitorPhoto in qvVisitorPhotos %}
            <tr>
                <td><a href="{{ path('visitorphoto_show', { 'id': qvVisitorPhoto.id }) }}">{{ qvVisitorPhoto.id }}</a></td>
                <td>{{ qvVisitorPhoto.photo }}</td>
                <td>{% if qvVisitorPhoto.photodate %}{{ qvVisitorPhoto.photodate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('visitorphoto_show', { 'id': qvVisitorPhoto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('visitorphoto_edit', { 'id': qvVisitorPhoto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visitorphoto_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
