{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>qvVisitorPhoto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ qvVisitorPhoto.id }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ qvVisitorPhoto.photo }}</td>
            </tr>
            <tr>
                <th>Photodate</th>
                <td>{% if qvVisitorPhoto.photodate %}{{ qvVisitorPhoto.photodate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visitorphoto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('visitorphoto_edit', { 'id': qvVisitorPhoto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
