{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}


{% block body %}
		
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                {% block breadcrumb %}
				   <div id="breadcrumbs" class="btn-group btn-breadcrumb">
		                <br>
		                <a class="btn btn-default" href="{{ path('main_page') }}">
		                    <i class="fa fa-home"></i>
		                        Главная
		                </a>
		                <a class="btn btn-default" href="{{ path('leasers_list') }}">
		                    Управление арендаторами
		                </a>
						<a class="btn btn-default" href="{{ path('contracts_list') }}">
                            Управление контрактами                  
                        </a>
					</div>
				{% endblock %}
											
          <h1 class="page-header">Создание нового контракта</h1>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <div id="qv_checkpoint">
   			 {{ form_start(form) }}
             <table>
                <tbody>
                    <tr>
                        <td>
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.startdate) }}
                            {{ form_errors(form.startdate) }}
                            {{ form_widget(form.startdate, {'attr': {'class':'form-control'}}) }}
                        </td>
                        <td>  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>    </td>
                        <td>
                            {{ form_label(form.enddate) }}
                            {{ form_errors(form.enddate) }}
                            {{ form_widget(form.enddate, {'attr': {'class':'form-control'}}) }}
                        </td>
                    </tr>
                    <br><br>
                    <tr>
                        <td><br>
                            {{ form_label(form.sectors) }}
                            {{ form_errors(form.sectors) }}
                            {{ form_widget(form.sectors, {'attr': {'class':'form-control'}}) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        <br>
        <table align="right"><tbody><tr><td>
        <input class="btn btn-default" type="submit" value="Создать" /></td>
        <td><a class="btn btn-default" href="{{ path('contracts_list') }}">Отменить</a>
        </td>
        {{form_end(form)}}
        </tr>
    </tbody>
</table>
    {{ form_end(form) }}
</div>
</div>
	   <!-- /.col-lg-6-->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /#page-wrapper -->
 {% endblock %}