{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}


{% block body %}
		
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                {% block breadcrumb %}
				   <div id="breadcrumbs" class="btn-group btn-breadcrumb">
		                <br>
		                <a class="btn btn-default" href="{{ path('main_page') }}">
		                    <i class="fa fa-home"></i>
		                        Главная
		                </a>
		                <a class="btn btn-default" href="{{ path('leasers_list') }}">
		                    Управление арендаторами
		                </a>
						<a class="btn btn-default" href="{{ path('contracts_list') }}">
                            Управление контрактами                  
                        </a>
					</div>
				{% endblock %}
											
          <h1 class="page-header">Создание нового контракта</h1>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <div id="qv_contract">
   			{{ form_start(form) }}
    <table>
        <tbody>
        <tr>
            <td class="col-md-3">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
            </td>
            <td class="col-md-3">
                {{ form_label(form.startdate) }}
                {{ form_errors(form.startdate) }}
                {{ form_widget(form.startdate, {'attr': {'class':'form-control'}}) }}
            </td>

            <td class="col-md-3">
                {{ form_label(form.enddate) }}
                {{ form_errors(form.enddate) }}
                {{ form_widget(form.enddate, {'attr': {'class':'form-control'}}) }}
            </td>
        </tr>
        <tr>
            <td class="col-md-4">
                {{ form_label(form.buildings) }}
                {{ form_errors(form.buildings) }}
                {{ form_widget(form.buildings, {'attr': {'class':'form-control'}}) }}
                <br><div id="build-label" class="text-info form-margin col-lg-12" >
                </div>
                <div id="cancel" class="text-danger form-margin col-lg-12"><a href="javascript:change();" class="text-info">Cancel</a></div>
            </td>

            <td class="col-md-4">
                {{ form_label(form.floors) }}
                {{ form_errors(form.floors) }}
                {{ form_widget(form.floors, {'attr': {'class':'form-control'}}) }}
            </td>
        </tr>
        <tr>
            <td class="col-md-4">
                {{ form_label(form.sectors) }}
                {{ form_errors(form.sectors) }}
                {{ form_widget(form.sectors, {'attr': {'class':'form-control'}}) }}
            </td>
        </tr>
        </tbody>
    </table>
    <br>
        <br>
        <table align="right">
            <tbody>
                <tr>
                    <td>
        <input class="btn btn-default" type="submit" value="Создать" /></td>
        <td><a class="btn btn-default" href="{{ path('leasers_show', {'id':qvLeaser.id}) }}">Отменить</a>
                    </td>
        {{form_end(form)}}
                </tr>
            </tbody>
        </table>
</div>
</div>
	   <!-- /.col-lg-6-->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /#page-wrapper -->
    <script src="{{asset('bootstrap1/bower_components/jquery/dist/jquery.min.js')}}"></script>

    <script> 
        function loadFloors(buildingId){
            $('#form_floors').empty();
            $.ajax({
                type: "GET",
                url: "{{ path('floors')}}",
                data: {'id':buildingId},
                success: function(data){
                    $.each(JSON.parse(data),function(k,v){
                        $('#form_floors').append('<option value="'+v.id+'">'+v.name+'</option>')
                    });
                }
            });
        }
        $(function (){
            loadFloors($('#form_buildings option:selected').val());
            $('#form_buildings').change(function(){
                loadFloors($('#form_buildings option:selected').val());
            });
        });
    </script>

    <script type="text/javascript">

        function loadSectors(floorId){
            $('#form_sectors').empty();
            $.ajax({
                type: "GET",
                url: "{{ path('sectors')}}",
                data: {'id':floorId},
                success: function(data){
                    $.each(JSON.parse(data),function(k,v){
                        $('#form_sectors').append('<option value="'+v.id+'">'+v.name+'</option>')
                    });
                }
            });
        }
        $(function (){
            loadSectors($('#form_floors option:selected').val());
            $('#form_floors').change(function(){
                loadSectors($('#form_floors option:selected').val());
            });
        });
    </script>
<script>

                function change() { 
                theText.focus(); 
                document.execcommand("Cancel"); 
                };
</script>

    <script>
    $(document).ready(function()
     {
        var $build;
        $('#form_floors').hide(); 
        $('label[for="form_floors"]').hide();
        $('#form_sectors').hide();
        $('label[for="form_sectors"]').hide();

  $('#form_buildings').prepend($ ('<option value="0"></option>'));
            $("#form_buildings [value='0']").attr("selected", "selected");
  
            $('#form_buildings').change(function()
                {
                $('#form_floors').prepend($ ('<option value="0"></option>'));
            $("#form_floors [value='0']").attr("selected", "selected");
  
                $('#form_floors').show();
                $('label[for="form_floors"]').show();
                $('#form_buildings').hide('slow', function(){
                $build = $('#form_buildings option:selected').text();
                $build = $('#build-label').html("<h4>"+ "Выбрано здание " + $build + "</h4>");
                $('label[for="form_buildings"]').hide();
                }); 
                
                $('#build-label').append('#cancel').show();
            }); 
                

            $('#form_floors').change(function()
                {              
                $('#form_sectors').show();
                $('label[for="form_sectors"]').show();
                $('#form_floors').hide('slow', function(){
                    var $floor = $('#form_floors option:selected').text();
                    $('#build-label').html("<h4>" + $build.text() + "/" + $floor +  "</h4>");
                });
                $('label[for="form_floors"]').hide();        
            });
        });
    </script>
 {% endblock %}