{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}
		
		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					<div id="breadcrumbs" class="btn-group btn-breadcrumb">
                                <br>
                                <a class="btn btn-default" href="{{ path('main_page') }}">
                                    <i class="fa fa-home"></i>
                                        Главная
                                </a>
                                <a class="btn btn-default" href="{{ path('leasers_list') }}">Управление арендаторами</a>
                                 <a class="btn btn-default" href="{{ path('leasers_show',{'id':qvLeaser.id}) }}">Управление контрактами</a>
					{% endblock %}
<br><br><br>											
               <h2 class="page-header">Просмотр контрактов</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			</div>
			
			<div class="row">
               	<div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Контракты данного пользователя
                           <p class="text-right"> <a class="btn btn-success btn-xs" href="{{ path('contracts_create', {'qvLeaser':qvLeaser.id}) }}">Новый контракт</a></p>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Контракт</th>
                                            <th>Дата начала действия</th>
                                            <th>Дата окончания действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
      {% for contract in qvContracts %}
    <tr class="success"><td>  {{ loop.index }}</td>
    <td>
    	<b>

        
        </a>
    </b><br>
	</td>
	<td>{% if contract.startdate %}{{ contract.startdate|date('d-m-Y') }}{% endif %}</td>
	<td>{% if contract.enddate %}{{ contract.enddate|date('d-m-Y') }}{% endif %}</td>
    <td>			
   <!-- Button trigger modal -->   
    </td>
</tr>
</tbody>
					</table>
					 
				</div>
			</div>
<!-- /.panel-body -->
		</div>
		<!-- /.col-lg-4 -->
    </div>
</div>
<!-- /.table-responsive -->
</div>
<!-- /#page-wrapper -->

                {% endfor %}
             	
{% endblock %}